.result{
    margin-top: 20px;
    text-align: center;
    font-size: 22px;
}

.point_text{
    color: #000000;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}
.point{
    font-weight: 600;
}
.text{
    color: #000000;
    font-size: 14px;
}
.text span{
    display: inline-block;
    margin-left: 10px;
    font-weight: 600;
}

.quizInfo_container,
.general_information{
  text-align: center;
  padding: 15px;

}

.quizInfo_container{
    margin-bottom: 15px;
}

.go_backHome{
    width: 120px;
    display: block;
    padding: 5px;
    border-radius: 80px;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    text-decoration: none;
    background-color: #F4E041;
    transition: all 250ms ease;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}
.go_backHome:hover{
    transform: scale(1.1);
    background-color: #FFE302;
}

@media screen and (min-width: 768px){

    .results_container{
        display: flex;
        justify-content: center;
    }

    .text{
        font-size: 18px;
    }

    .go_backHome{
        width: 180px;
        padding: 8px;
        font-size: 26px;
        line-height: 26px;
    }

    .quizInfo_container{
        text-align: left;
        margin-right: 50px;
    }

    .general_information{
        text-align: left;
        margin-left: 50px;

    }
    .quizInfo_container .title,
    .general_information .title{
        text-align: center;
    }

}

@media screen and (min-width: 1024px){
    .results_container{
        align-items: center;
    }
}